//===================================================TEMPLATE
.pcoded-wrapper{
    height: 90vh !important;
    @media only screen and (max-width: 960px) {
        height: 80vh !important;
    }
}

.pcoded-content {
    padding: 15px !important;
}

#brand-logo{
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    -webkit-transform: rotateY(0) !important;
    transform: rotateY(0) !important;
    opacity: 1;
}

@media only screen and (max-width: 991px) {  
    #brand-logo{
        width: 55px;
        height: 55px;
    }
    .pcoded-header .m-header .b-brand {
        margin-left: 5px !important;
    }
    .pcoded-header .m-header .mobile-menu {
        right: 15px !important;
    }
}

#root > div > header > div.m-header > .mbl-mode{
    margin-left: auto;
    margin-right: 55px;
}
#root > div > header > div.m-header > .mbl-mode > li > div > #dropdown-basic{
    color: white !important;
} 

//==========================================================NAVIGATION

#log-out{
    height: calc(100vh - 40vh);  
    @media screen and (max-width: 1199px) {
        height: calc(100vh - 25vh);  
    }
    @media screen and (max-width: 375px) {
        height: calc(100vh - 30vh);  
    }
    @media screen and (max-width: 320px) {
        height: calc(100vh - 40vh);  
    }
}
#log-out > a{
    position: absolute;
    bottom: 5px;
    width: 100%;
}

.collapse .navbar-collapse{
    height: 50px !important;
}


//========================================================DASHBOARD PAGE

#chart-sxp, #pie-sbm, #pie-mmb, #chart-mb, #pie-yb{
    height: 100% !important;
    width: 100% !important;
    padding: 0 10px;
}

.dashLocked .react-grid-item {
    touch-action: auto !important;
}

#chart-mb > svg > g.dxc-scroll-bar > rect{
    fill: teal !important;
    opacity: 0.5 !important;
    width: 7px !important;
}


//===========================================================APPROVAL PAGE

.grid-card-footer {
    border-top: 1px solid #f1f1f1;
    background: transparent;
    padding: 10px !important;
}

#img-preview-container{
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

#btnApprove{
    background:$theme-color !important;  
}
#btnReject{
    background: $theme-color2 !important;  
    color: white !important;
}
#btnApprove.dx-button.dx-button-default.dx-state-disabled .dx-button-text{
    color:white !important;
}
#btnReject.dx-button.dx-button-default.dx-state-disabled .dx-button-text{
    color:white !important;
}

#MBtnApprove{
    background:$theme-color !important;  
    border-radius: 5px;
}

#MBtnReject{
    background:$theme-color2 !important;  
    border-radius: 5px;
}

#MBtnApprove .dx-button-content .dx-icon, #MBtnReject .dx-button-content .dx-icon  {
    font-size: 1.2rem !important;
    color: white !important;
}

//==============================================================NOTIFICATION

#notif-mobile{
    right: 60px;
}

.drp-notify .p1[data-count]:after{
    position:absolute;
    right:10%;
    top:8%;
    content: attr(data-count);
    font-size:70%;
    padding:.2em;
    border-radius:35%;
    line-height:1em;
    color: white;
    background:rgba(255,0,0,.6);
    text-align:center;
    min-width: 1em;
    //font-weight:bold;
}

.drp-notify .dropdown-toggle {
    padding-right: 5px !important;
}
.pcoded-header .dropdown .notification .noti-body li {
    padding: 10px 20px !important;
}
.listntf-detail{
    font-size: 12px !important;
}


//======================================================================SETTING PAGE
.card-setting-theme .dx-field-label, .card-setting-dashboard .dx-field-label{
    width : 15% !important;
    @media screen and (max-width: 960px) {
        width: 30% !important;
    }
}
.card-setting-dashboard .dx-field-value{
    width : 5% !important;
    @media screen and (max-width: 960px) {
        width: 15% !important;
    }
}





  





